.card {
  background: #444444;
  color: white;
  border-radius: var(--border-radius);
  padding: 16px;
  text-align: center;
  width: 256px;
  display: inline-block;

  &__subtitle {
    font-size: 40px;
    margin-top: 24px;
  }
}
