.app-icon {
  width: 100%;
  display: inline-block;
  cursor: pointer;

  &__image {
    display: block;
    background: white;
    width: 64px;
    aspect-ratio: 1/1;
    border-radius: 16px;
  }

  &__title {
    color: white;
    text-align: center;
  }
}
