.app-icon {
  width: 100%;
  display: inline-block;
  cursor: pointer;

  &__image {
    display: block;
    background: white;
    width: 96px;
    aspect-ratio: 1/1;
    border-radius: var(--border-radius);

    @media only screen and (max-width: 480px) {
      width: 64px;
    }
  }

  &__title {
    color: white;
    text-align: center;
  }
}
