.hue-group {
  height: auto;
  border-radius: var(--border-radius);
  background-color: var(--card-color);
  color: var(--main-text-color);
  padding: 1rem;

  transition-property: opacity;
  transition-duration: .3s;
  transition-timing-function: ease-out;

  cursor: pointer;
  text-align: center;

  &--active {
    opacity: 1;
  }
}
